<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body style="margin-top: 35px;">
        <div class="container">
            <div class="">
            <a href="/"><button class="btn-custom">Home</button></a>
            <h1 class="display-4">All books</h1>
            <br><br>
            <ul>
                {% for book in info %}
                    <li>{{ book }}</li>
                {% endfor %}
            </ul>
            </div>
        </div>
</body>
</html>